// Font
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

// Fonts
$body-font-size: 1.6rem;
$body-font-color: #26495c;
$body-font: 'Cabin', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;

// Font Weights
$body-regular: 400;
$body-medium: 500;
$body-bold: 700;
$heading-light: 300;
$heading-regular: 400;
$heading-bold: 700;

// Colors
$blue: #26495c;
$gold: #c4a35a;
$orange: #c66b3d;
$white: #e5e5dc;

// Shadows
$shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, .1);
